<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">

	<div>
		<h1>
			<span th:text="${username}" style="color: blue;" id="user"></span>님의
			장바구니
		</h1>
		<h1>
			해당 장바구니의 수량은 <span th:text="${cartCount}" id="totalUserCount"></span>개
			입니다.
		</h1>
		<hr>
		<h3>장바구니 목록</h3>
		<!--  -->
		<table class="table">
			<thead>
				<tr>
					<th scope="col"><input type="checkbox" id="checkAll"></th>
					<th scope="col">상품</th>
					<th scope="col">상품 갯수</th>
					<th scope="col">상품금액</th>
					<th scope="col">총 금액</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cartItem : ${cartItemList}"
					th:if="${cartItem.cart.cart_id == cartUser}" scope="row">


					<td><input type="checkbox"
						th:value="${cartItem.cart_product_id}" class="cart_product_id"
						name="product_check"></td>


					<td th:text="${cartItem.product.product_name}" class="product_name"></td>

					<td><input type="number" th:value="${cartItem.count}" min="1"
						class="count"></td>

					<td
						th:text="${#numbers.formatInteger((cartItem.product.price), 4, 'COMMA')}"
						class="price"></td>

					<td class="totalPrice"></td>

				</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h3>Total Price</h3>
		<!-- 전체 총 금액의 합계 -->
		<b><p id="totalProductPrice"></p></b>
	</div>



	<!-- Cart_item_Controller 예외처리 추후 수정필요 -->
	<script th:if="${errorMessage != null}">
		alert("[[${errorMessage}]]");
		history.back();
	</script>


	<script>
		$(function() {

			totalPrice(); //페이지 로드시 자동으로 생성

			$('.count')
					.on(
							'change',
							function() {
								var count = $(this).val();
								var row = $(this).closest('tr');

								/* price */
								var price = parseInt(row.find('.price').text()
										.replace(/[^0-9.-]+/g, ""));

								/* cart_product_id */
								var cart_product_id = row.find(
										'.cart_product_id').val();

								/* 클릭 이벤트 발생 시 TotalPrice 변경*/
								totalPrice();

								/* 토큰 권한 설정 */
								var header = $("meta[name='_csrf_header']")
										.attr('content');
								var token = $("meta[name='_csrf']").attr(
										'content');

								// AJAX 요청 보내기
								$
										.ajax({
											url : '/cart_item/updateCount',
											method : 'POST',
											dataType : 'json',
											data : {
												"cart_product_id" : cart_product_id,
												"count" : count
											},
											beforeSend : function(xhr) { /* 토큰 먼저 보내고 권한 받아야함 */
												xhr.setRequestHeader(header,
														token);
											},
											success : function(result) {
												// 요청 성공 시 실행할 코드
												var totalPriceElement = row
														.find('.totalPrice'); // 해당 행의 totalPrice 엘리먼트 선택
												var totalPrice = count * price;

												// 값을 변경하여 출력
												totalPriceElement
														.text(totalPrice
																.toString()
																.replace(
																		/\B(?=(\d{3})+(?!\d))/g,
																		","));
												console.log('AJAX 요청 성공');
												console.log(result);
												totalCount();
											},
											error : function(xhr, status, error) {
												// 요청 실패 시 실행할 코드
												console.log('AJAX 요청 실패');
												console.log(xhr.responseText);
											}
										});

							});

		});

		//총 금액의 합계의 값을 출력한다. 
		function totalPrice() {
			var total = 0;
			$('.totalPrice').each(
					function() {
						var row = $(this).closest('tr');
						var count = parseInt(row.find('.count').val());
						var price = parseInt(row.find('.price').text().replace(
								/[^0-9.-]+/g, ""));

						var cartElement = row.find('.cart_product_id');
						var cart_product_id = cartElement.text();

						var totalPrice = count * price;
						$(this).text(
								totalPrice.toString().replace(
										/\B(?=(\d{3})+(?!\d))/g, ","));
						total += totalPrice;
					});

			// 총 합계 출력
			$('#totalProductPrice').text(
					total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

		}

		/* 체크 박스 선택시 적용할 이벤트() */
		$('.cart_product_id').on(
				'change',
				function() {
					var total = 0;

					var isAllUnchecked = true; // 모든 체크박스가 해제되었는지 여부를 확인하기 위한 변수

					$('.cart_product_id').each(
							function() { /* 체크상태가 된다면 */
								if ($(this).is(':checked')) {
									var cart_product_id = $(this).val();

									var row = $(this).closest('tr');
									var count = row.find('.count').val();

									var price = parseInt(row.find('.price')
											.text().replace(/[^0-9.-]+/g, ""));

									total += price * count;

									isAllUnchecked = false;

									console.log("count :" + count);

									console.log("price:" + price);

									console.log("cart_product_id :"
											+ cart_product_id);

								}

								if (isAllUnchecked) {
									totalPrice(); // 모든 체크박스가 해제된 경우 전체 금액의 총 합계를 다시 계산하여 표시
								} else {
									$('#totalProductPrice').text(
											total.toString().replace(
													/\B(?=(\d{3})+(?!\d))/g,
													","));
								}

							});

				});

		/* 전체 체크 박스 선택/해제 기능 */
		$('#checkAll').on('change', function() {
			var isChecked = $(this).is(':checked');

			$('.cart_product_id').prop('checked', isChecked);

			// 체크박스 선택/해제 이벤트 호출
			$('.cart_product_id').trigger('change');
		});

		/* 현재 상품들의 갯수의 총 합 */
		function totalCount() {

			var user = $('#user').text(); //String

			var totalCount = 0; //number
			$('.count')
					.each(
							function() {
								var count = parseInt($(this).val());
								totalCount += count;

								/* 토큰 권한 설정 */
								var header = $("meta[name='_csrf_header']")
										.attr('content');
								var token = $("meta[name='_csrf']").attr(
										'content');

								// AJAX 요청 보내기
								$
										.ajax({
											url : '/cart/totalCount',
											method : 'POST',
											dataType : 'json',
											data : {
												"user" : user,
												"count" : totalCount
											},
											beforeSend : function(xhr) { /* 토큰 먼저 보내고 권한 받아야함 */
												xhr.setRequestHeader(header,
														token);
											},
											success : function(result) {
												// 요청 성공 시 실행할 코드

												var totalCount = document
														.getElementById('totalUserCount').innerText;
												console.log("totalCount : "
														+ totalCount);

												console.log('count AJAX 요청 성공');
												console.log(result);
												console.log(totalUserCount);
											},
											error : function(xhr, status, error) {
												// 요청 실패 시 실행할 코드
												console.log('AJAX 요청 실패');
												console.log(xhr.responseText);
											}
										});

							});

			console.log("총 수량은 : " + totalCount);
			console.log(typeof totalCount); //number

			console.log("user 은 : " + user);
			console.log(typeof user); //String

		}

		/* 총 totalCount출력 하는 코드 구현  비동기로 출력해야함*/
	</script>



</div>
</html>