<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">

	<div>
		<h1>
			<span th:text="${username}" style="color: blue;"></span>님의 장바구니
		</h1>
		<h1>
			해당 장바구니의 수량은 <span th:text="${cartCount}"></span>개 입니다.
		</h1>
		<hr>
		<h3>장바구니 목록</h3>
		<!--  -->
		<table class="table">
			<thead>
				<tr>
					<th scope="col">상품선택</th>
					<th scope="col">상품</th>
					<th scope="col">상품 갯수</th>
					<th scope="col">상품금액</th>
					<th scope="col">총 금액</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cartItem : ${cartItemList}"
					th:if="${cartItem.cart.cart_id == cartUser}" scope="row">

					<!-- <td th:text="${cartItem.cart_product_id}" class="cart_product_id"></td> -->

					<!-- 체크박스를 누르던 말던 데이터 값에 저장되는게 변함히 없어야 한다. -->
					<td><input type="checkbox"
						th:value="${cartItem.cart_product_id}" class="checkBox"
						name="product_check"> <span
						th:text="${cartItem.cart_product_id}" class="cart_product_id"></span>
					</td>


					<td th:text="${cartItem.product.product_name}" class="product_name"></td>

					<td><input type="number" th:value="${cartItem.count}" min="1"
						class="count"></td>

					<td
						th:text="${#numbers.formatInteger((cartItem.product.price), 4, 'COMMA')}"
						class="price"></td>

					<td class="totalPrice"></td>

				</tr>
			</tbody>
		</table>
	</div>

	<div>
		<h3>Total Price</h3>
		<!-- 전체 총 금액의 합계 -->
		<b><p id="totalProductPrice"></p></b>
	</div>



	<!-- Cart_item_Controller 예외처리 추후 수정필요 -->
	<script th:if="${errorMessage != null}">
		alert("[[${errorMessage}]]");
		history.back();
	</script>


	<script>
		$(function() {

			totalPrice(); //페이지 로드시 자동으로 생성

			$('.count')
					.on(
							'change',
							function() {
								var count = $(this).val();
								var row = $(this).closest('tr');

								var priceElement = row.find('.price');
								var priceText = priceElement.text();
								var price = parseInt(priceText.replace(
										/[^0-9.-]+/g, ""));

								var cartElement = row.find('.cart_product_id');
								var cart_product_id = cartElement.text();

								/* 코드 확인용 */
								var check = row.find('.checkBox');
								var checkVal = check.val();
								console.log(checkVal);
								console.log(typeof checkVal); /* String */
								console.log(typeof cart_product_id + "확인"); /* String */
								/* 코드 확인 끝 */

								
								
								
								
								
								/* 클릭 이벤트 발생 시 TotalPrice 변경*/
								totalPrice(); 
								
								
								
								/* 토큰 권한 설정 */
								var header = $("meta[name='_csrf_header']")
										.attr('content');
								var token = $("meta[name='_csrf']").attr(
										'content');

								// AJAX 요청 보내기
								$
										.ajax({
											url : '/cart_item/updateCount',
											method : 'POST',
											dataType : 'json',
											data : {
												"cart_product_id" : cart_product_id,
												"count" : count
											},
											beforeSend : function(xhr) { /* 토큰 먼저 보내고 권한 받아야함 */
												xhr.setRequestHeader(header,
														token);
											},
											success : function(result) {
												// 요청 성공 시 실행할 코드
												var totalPriceElement = row
														.find('.totalPrice'); // 해당 행의 totalPrice 엘리먼트 선택
												var totalPrice = count * price;
												totalPriceElement
														.text(totalPrice); // 값을 변경하여 출력
												totalPriceElement
														.text(totalPrice
																.toString()
																.replace(
																		/\B(?=(\d{3})+(?!\d))/g,
																		",")); // 값을 변경하여 출력
												console.log('AJAX 요청 성공');
												console.log(result);
												
											},
											error : function(xhr, status, error) {
												// 요청 실패 시 실행할 코드
												console.log('AJAX 요청 실패');
												console.log(xhr.responseText);
											}
										});

							});

			//총 합계의 값을 출력한다. 
			function totalPrice() {
				var total = 0;
				$('.totalPrice').each(
						function() {
							var row = $(this).closest('tr');
							var count = parseInt(row.find('.count').val());
							var price = parseInt(row.find('.price').text()
									.replace(/[^0-9.-]+/g, ""));

							var cartElement = row.find('.cart_product_id');
							var cart_product_id = cartElement.text();

							var totalPrice = count * price;
							$(this).text(
									totalPrice.toString().replace(
											/\B(?=(\d{3})+(?!\d))/g, ","));
							total += totalPrice;
						});

				// 총 합계 출력
				$('#totalProductPrice').text(
						total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

			}

		
			/* 체크 박스 선택시 적용할 이벤트() */
			/* $('.cart_product_id').on('change', function() {
						if ($(this).is(':checked')) {
							var cartProductId = $(this).val();

							console.log('선택된 상품 ID:', cartProductId);
						} else {
							// 선택 해제된 상품의 처리를 수행
						}
					}); */
 
		});
		 
		
		
		
	</script>



</div>
</html>