<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">

	<div>
		<h1>
			<span th:text="${username}" style="color: blue;" id="user"></span>님의
			장바구니
		</h1>
		<h1>
			해당 장바구니의 상품 갯수는 <span th:text="${cartCount}" id="totalUserCount"></span>개
			입니다.
		</h1>
		<hr>
		<h3>장바구니 목록</h3>
		<!--  -->
		<table class="table">
			<thead>
				<tr>
					<th scope="col"><input type="checkbox" id="checkAll"></th>
					<th scope="col">상품</th>
					<th scope="col">상품 갯수</th>
					<th scope="col">상품금액</th>
					<th scope="col">총 금액</th>
					<th scope="col">선택</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cartItem : ${cartItemList}"
					th:if="${cartItem.cart.cart_id == cartUser}" scope="row">


					<td><input type="checkbox"
						th:value="${cartItem.cart_product_id}" class="cart_product_id"
						name="product_check"></td>


					<td th:text="${cartItem.product.product_name}" class="product_name"></td>

					<td><input type="number" th:value="${cartItem.count}" min="1"
						class="count"></td>

					<td
						th:text="${#numbers.formatInteger((cartItem.product.price), 4, 'COMMA')}"
						class="price"></td>


					<td class="totalPrice"></td>

					<td><button onclick="deleteCartItem(this)">삭제하기</button></td>

				</tr>
			</tbody>
		</table>
	</div>

	<div>
		<button id="selectDeleate">선택 삭제</button>
		<hr>
	</div>


	<div>
		<h3>Total Price</h3>
		<!-- 전체 총 금액의 합계 -->
		<b><p id="totalProductPrice"></p></b>
		<!-- 추후 주문하기 버튼을 만들 때 버튼 체크 여부확인해서 주문하기 버튼 클릭 =>1.체크된 부분만 주문 2.기본(전체)주문 if-else문으로 처리 -->
		<b>주문하기</b>
	</div>



	<!-- Cart_item_Controller 예외처리 추후 수정필요 -->
	<script th:if="${errorMessage != null}">
		alert("[[${errorMessage}]]");
		history.back();
	</script>


	<script>
		$(function() {

			totalPrice(); //페이지 로드시 자동으로 생성
			$('.count')
					.on(
							'change',
							function() {
								var count = $(this).val();
								var row = $(this).closest('tr');

								/* price */
								var price = parseInt(row.find('.price').text()
										.replace(/[^0-9.-]+/g, ""));

								/* cart_product_id */
								var cart_product_id = row.find(
										'.cart_product_id').val();

								/* 클릭 이벤트 발생 시 TotalPrice 변경*/
								totalPrice();

								/* 토큰 권한 설정 */
								var header = $("meta[name='_csrf_header']")
										.attr('content');
								var token = $("meta[name='_csrf']").attr(
										'content');

								// AJAX 요청 보내기
								$
										.ajax({
											url : '/cart_item/updateCount',
											method : 'POST',
											dataType : 'json',
											data : {
												"cart_product_id" : cart_product_id,
												"count" : count
											},
											beforeSend : function(xhr) { /* 토큰 먼저 보내고 권한 받아야함 */
												xhr.setRequestHeader(header,
														token);
											},
											success : function(result) {
												// 요청 성공 시 실행할 코드
												var totalPriceElement = row
														.find('.totalPrice'); // 해당 행의 totalPrice 엘리먼트 선택
												var totalPrice = count * price;

												// 값을 변경하여 출력
												totalPriceElement
														.text(totalPrice
																.toString()
																.replace(
																		/\B(?=(\d{3})+(?!\d))/g,
																		","));
												console.log('AJAX 요청 성공');
												console.log(result);
												totalCount();
											},
											error : function(xhr, status, error) {
												// 요청 실패 시 실행할 코드
												console.log('AJAX 요청 실패');
												console.log(xhr.responseText);
											}
										});

							});

		});

		//총 금액의 합계의 값을 출력한다. 
		function totalPrice() {
			var total = 0;
			$('.totalPrice').each(
					function() {
						var row = $(this).closest('tr');
						var count = parseInt(row.find('.count').val());
						var price = parseInt(row.find('.price').text().replace(
								/[^0-9.-]+/g, ""));

						var cartElement = row.find('.cart_product_id');
						var cart_product_id = cartElement.text();

						var totalPrice = count * price;
						$(this).text(
								totalPrice.toString().replace(
										/\B(?=(\d{3})+(?!\d))/g, ","));
						total += totalPrice;
					});

			// 총 합계 출력
			$('#totalProductPrice').text(
					total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

		}

		/* 체크 박스 선택시 적용할 이벤트(totalPrice가 변경이 된다.) */
		$('.cart_product_id').on(
				'change',
				function() {
					var total = 0;

					var isAllUnchecked = true; // 모든 체크박스가 해제되었는지 여부를 확인하기 위한 변수

					$('.cart_product_id').each(
							function() { /* 체크상태가 된다면 */
								if ($(this).is(':checked')) {
									var cart_product_id = $(this).val();

									var row = $(this).closest('tr');
									var count = row.find('.count').val();

									var price = parseInt(row.find('.price')
											.text().replace(/[^0-9.-]+/g, ""));

									total += price * count;

									isAllUnchecked = false;

								}

								if (isAllUnchecked) {
									totalPrice(); // 모든 체크박스가 해제된 경우 전체 금액의 총 합계를 다시 계산하여 표시
								} else {
									$('#totalProductPrice').text(
											total.toString().replace(
													/\B(?=(\d{3})+(?!\d))/g,
													","));
								}

							});

				});

		/* 전체 체크 박스 선택/해제 기능 */
		$('#checkAll').on('change', function() {
			var isChecked = $(this).is(':checked');

			$('.cart_product_id').prop('checked', isChecked);

			// 체크박스 선택/해제 이벤트 호출
			$('.cart_product_id').trigger('change');
		});

		/* 현재 상품들의 갯수의 총 합 */
		function totalCount() {

			var user = $('#user').text(); //String

			var totalCount = 0; //number
			$('.count').each(
					function() {
						var count = parseInt($(this).val());
						totalCount += count;

						/* 토큰 권한 설정 */
						var header = $("meta[name='_csrf_header']").attr(
								'content');
						var token = $("meta[name='_csrf']").attr('content');

						// AJAX 요청 보내기
						$.ajax({
							url : '/cart/totalCount',
							method : 'POST',
							dataType : 'json',
							data : {
								"user" : user,
								"count" : totalCount
							},
							beforeSend : function(xhr) { /* 토큰 먼저 보내고 권한 받아야함 */
								xhr.setRequestHeader(header, token);
							},
							success : function(result) {
								// 요청 성공 시 실행할 코드

								// cartCount 값을 totalUserCount 요소에 반영
								var totalUserCount = $("#totalUserCount").text(
										totalCount);

								console.log('totalCount AJAX 요청 성공');
								console.log(result);

							},
							error : function(xhr, status, error) {
								// 요청 실패 시 실행할 코드
								console.log('AJAX 요청 실패');
								console.log(xhr.responseText);
							}
						});

					});

		}

		//단품 삭제하기
		function deleteCartItem(element) {

			// 클릭된 요소의 부모 요소인 <tr>을 찾음
			var row = element.parentNode.parentNode;

			/* cart_product_id */
			var cart_product_id = $(row).find('.cart_product_id').val();

			/* 토큰 권한 설정 */
			var header = $("meta[name='_csrf_header']").attr('content');
			var token = $("meta[name='_csrf']").attr('content');

			// AJAX 요청 보내기
			$.ajax({
				url : '/cart_item/deleteCartItem',
				method : 'POST',
				dataType : 'json',
				data : {
					"cart_product_id" : cart_product_id,
				},
				beforeSend : function(xhr) { /* 토큰 먼저 보내고 권한 받아야함 */
					xhr.setRequestHeader(header, token);
				},
				success : function(result) {
					// 요청 성공 시 실행할 코드

					//해당 row를 삭제
					row.parentNode.removeChild(row);
					totalCount();

					console.log('deleteCartItem AJAX 요청 성공');
					console.log(result);
				},
				error : function(xhr, status, error) {
					// 요청 실패 시 실행할 코드
					console.log('AJAX 요청 실패');
					console.log(xhr.responseText);
				}
			});

		}

		//이곳에서 체크된 값만 가져오기 (이걸로 선택 삭제, 선택 수정 기능 구현하기)
		//1. 체크된 id의 배열을 가져오기

		function findSelect() {

			var checkItems = [];

			$('.cart_product_id').each(function() {
				if ($(this).is(':checked')) {
					var row = $(this).closest('tr');
					var cart_product_id = row.find('.cart_product_id').val();

					// checkItems 배열에 추가
					checkItems.push(cart_product_id);
				}
			});

			return checkItems; //체크된 벼열의 값을 반환해준다.
		}

		//클릭시 해당 이벤트 발생(선택삭제 부분)
		$('#selectDeleate').on('click', function() {

			var checkItems = findSelect(); // checkItems 함수 호출하여 선택된 항목 배열 반환

			console.log("checkItems");
			console.log(checkItems);

			//AJAX 코드 넣기
			/* 토큰 권한 설정 */
			var header = $("meta[name='_csrf_header']").attr('content');
			var token = $("meta[name='_csrf']").attr('content');

			// AJAX 요청 보내기

			// AJAX 요청 보내기
			$.ajax({
				url : '/cart_item/allDeleate',
				method : 'POST',
				dataType : 'json',
				data : {
					"checkItems" : checkItems,
				},
				beforeSend : function(xhr) { /* 토큰 먼저 보내고 권한 받아야함 */
					xhr.setRequestHeader(header, token);
				},
				success : function(result) {
					// 요청 성공 시 실행할 코드

					console.log('deleteCartItem AJAX 요청 성공');
					console.log(result);
				},
				error : function(xhr, status, error) {
					// 요청 실패 시 실행할 코드
					console.log('AJAX 요청 실패');
					console.log(xhr.responseText);
				}
			});

			if (checkItems.length === 0) {
				alert("선택된 항목이 없습니다."); // 체크된 항목이 없을 때 알림창 표시
			}

		})
	</script>



</div>
</html>